<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuotingDojo</title>
</head>
<body>
    <div class="container"><br>
        <div class="jumbotron">
            <h1>Here are the awesome quotes!</h1>
            @foreach(var quote in @ViewBag.quotes){
                <p>"@quote["content"]"</p>
                <p>-@quote["author"] at @quote["created_at"]</p>
                <hr>
            }
        </div>
    </div>
</body>
</html>